<table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Sales Volume</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempSalesPersion of salesPersonList">
            <td>{{tempSalesPersion.firstName}}</td>
            <td>{{tempSalesPersion.lastName}}</td>
            <td>{{tempSalesPersion.email}}</td>
            <td>{{tempSalesPersion.salesVolume}}</td>
        </tr>
    </tbody>

</table>